html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
  font-family: finis;
}

.wrapper {
  margin: 0 0 5px 5px;
  width: 1200px;
  height: 650px;
  border: 1px solid #CCC;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(, 100px);
  justify-content: left;

}

/* Site Navigation */
.site-nav {
  margin-top: 10px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  display: block;
  color: #000000;
  padding: 10px 20px;

}

.site-nav a:hover {
  color: #fff;
  background-color: #2C82EA;
  opacity: 40%;
}

@media screen and (max-width: 1023px) {
  .site-nav li {
    width: 33.332%;
    margin-right: 0;
  }

  .site-nav a {
    padding: 15px 0;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .site-nav li {
    width: 50%;
  }
}

/* End Site Navigation */

.box {
  border-style: solid;
  color: #fff;
  border-radius: 1px;
  padding: 80px;
  font-size:10px;
}

.item1 {
  position: relative;
  grid-column: 1 / 5;
  width:1200px;
  height:500px;
}

.item2 {
  position: relative;
  border-style: solid;
  background-color: #fff;
  border-color: #000;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  height: 400px;
}

.item3 {
  position: relative;
  border-style: solid;
  border-color: #000;
  grid-column: 3 / 5;
  height: 400px;
}

.item4 {
  position: relative;
  border-style: solid;
  border-color: #000;
  grid-column: 1/ 3;
  height: 400px;
  width: 600px;
}

.item5 {
  position: relative;
  border-style: solid;
  background-color: #fff;
  border-color: #000;
  grid-column: 3/ 5;
  height: 400px;
  width: 600px;
}

#logo{
  height: 47px;
}

#braille{
  position: fixed;
  height: 100px;
  height: 360px;
  margin-top: -50px;
}

#votingmachine2{
margin-top: -89px;
width: 1200px;
margin-left: -84px;
height: 530px;
}

#machine2{
  height: 392px;
  width: 598px;
  margin-left: -80px;
  margin-top: -81px;
}

#ivoted{
  height: 400px;
  width: 600px;
  margin-left: -80px;
  margin-top: -80px;
}

#researchdots{
  position: fixed;
  height: 100px;
  height: 360px;
  margin-top: -50px;
}

h1{
  border-style: solid;
  border-color: #000;
  background-color: #FF6363;
  font: Helvetica;
  margin-left: -80px;
  margin-top: -80px;
  padding: 21px;
  width: 594px;
}

p1{
  Color: #000;
  font-size: 19px;
  font-family: helvetica;
}

footer{
  background-color: #2C82EA;
  position: relative;
  width: 1203px;
  padding: 20px;
  margin-top: 655px;
  margin-left: 6px;
}

p3{
  background-color: #2C82EA;
  font-family: helvetica;
  margin-top: -30px;
}
